body {
    /*overflow: hidden;*/
}

#toplevel_page_cinch div.wp-menu-image:before {
    content: "\f240" !important;
}

#cinch-access-control {
    width: 100%;
    overflow: hidden;
}

.cinch-access-control {
    position: relative;
    width: 160px;
    margin: 8px 0;
    border: 1px dashed #666666;
    background: #fefefe;
    padding: 4px;
    border-radius: 3px;
}

.cinch-access-control.seperator li {
    height: 25px;
    background: #333;
}

.cinch-access-control li {
    position: relative;
    display: block;
    cursor: pointer;
}

.cinch-access-control li span.item-label-rename {
    display: block;
    padding: 8px 76px 8px 10px;
}

.cinch-access-control li span.renaming {
    padding: 0 !important;
}

.cinch-access-control li span input {
    width: auto;
    height: 28px;
    margin: 0;
    padding: 4px 76px 4px 10px;
    border: none;
    background: transparent;
    font-size: inherit;
    -webkit-appearance: none;
    color: inherit;
    font-style: italic;
}

.cinch-access-control:nth-of-type(6n) {
    /*clear: left;*/
}

.cinch-access-control li.top-item {
    background: #222;
    color: #eee;
    margin-bottom: 0;
}

.cinch-access-control li.sub-item {
    font-size: 13px;
    background: #333;
    color: #bbb;
    margin: 0;
}

.cinch-access-control li.sub-item span {
    padding: 8px 12px;
}

.cinch-access-control li.sub-item span input {
    padding: 8px 12px;
}

.cinch-access-control li.ui-selected,
.cinch-access-control li.top-item.ui-selected ~ .cinch-access-control-subs > li.sub-item {
    background: #FF0000;
    color: #fff;
}

.cinch-access-control li.top-item.ui-selected ~ .cinch-access-control-subs > li.sub-item {
    opacity: 0.75;
}

#cinch-access-control .item-label-rename {
}

#cinch-access-control .item-position-badge {
    position: absolute;
    right: 8px;
    top: 7px;
    background-color: #005684;
    color: #fff;
    display: block;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}

#cinch-access-control .cinch-access-control.seperator .item-position-badge {
    cursor: pointer;
    right: 11px;
}

#cinch-access-control .item-position-badge span {
    display: block;
    padding: 0 6px;
}

#cinch-admin-access-control .form-table th[scope="row"] {
    display: none;
}

#cinch-admin-access-control .form-table td {
    padding: 0;
}

#cinch-access-control .cinch-column {
    width: 170px;
    float: left;
    margin-right: 10px;
}

#access-control-instructions p {
    margin-bottom: 0;
}

#access-control-clear {
    margin-bottom: 20px;
}

/* AdminOptions input fields */
.select2-container {
    min-width: 280px;
}
