body {
    /*overflow: hidden;*/
}

#cinch-access-control {
    width: 100%;
    overflow: hidden;
}

.cinch-access-control {
    float: left;
    margin: 0 4% 20px 0;
}

.cinch-access-control li {
    display: block;
    cursor: pointer;
}

.cinch-access-control li span {
    display: block;
    padding: 8px 76px 8px 10px;
}

.cinch-access-control li span.renaming {
    padding: 0 !important;
}

.cinch-access-control li span input {
    width: auto;
    height: 32px;
    margin: 0;
    padding: 8px 76px 8px 10px;
    border: none;
    background: transparent;
    font-size: inherit;
    -webkit-appearance: none;
    color: inherit;
}

.cinch-access-control:nth-of-type(6n) {
    clear: left;
}

.cinch-access-control li.top-item {
    background: #222;
    color: #eee;
    margin-bottom: 0;
}

.cinch-access-control li.sub-item {
    font-size: 13px;
    background: #333;
    color: #bbb;
    margin: 0;
}

.cinch-access-control li.sub-item span {
    padding: 8px 12px;
}

.cinch-access-control li.sub-item span input {
    padding: 8px 12px;
}

.cinch-access-control li.ui-selected,
.cinch-access-control li.top-item.ui-selected ~ li.sub-item {
    background: #FF0000;
    color: #fff;
}

.cinch-access-control li.top-item.ui-selected ~ li.sub-item {
    opacity: 0.75;
}