body {
    /*overflow: hidden;*/
}

#toplevel_page_cinch div.wp-menu-image:before {
    content: "\f240" !important;
}

#cinch-access-control {
    width: 100%;
    overflow: hidden;
}

#cinch-access-control li {
    display: list-item;
}

.cinch-access-control {
    position: relative;
    width: 160px;
    margin: 8px 0;
    border: 1px dashed #666666;
    background: #fefefe;
    padding: 4px;
    border-radius: 3px;
}

.cinch-access-control.seperator li {
    height: 25px;
    background: #333;
}

.cinch-access-control li {
    position: relative;
    display: block;
    cursor: pointer;
}

.cinch-access-control li span.item-label-rename {
    display: block;
    padding: 8px 76px 8px 10px;
}

.cinch-access-control li span.renaming {
    padding: 0 !important;
}

.cinch-access-control li span input {
    width: auto;
    height: 28px;
    margin: 0;
    padding: 4px 76px 4px 10px;
    border: none;
    background: transparent;
    font-size: inherit;
    -webkit-appearance: none;
    color: inherit;
    font-style: italic;
}

.cinch-access-control:nth-of-type(6n) {
    /*clear: left;*/
}

.cinch-access-control li.top-item {
    background: #222;
    color: #eee;
    margin-bottom: 0;
}

.cinch-access-control li.sub-item {
    font-size: 13px;
    background: #333;
    color: #bbb;
    margin: 0;
}

.cinch-access-control li.sub-item span {
    padding: 8px 12px;
}

.cinch-access-control li.sub-item span input {
    padding: 8px 12px;
}

.cinch-access-control li.ui-selected,
.cinch-access-control li.top-item.ui-selected ~ .cinch-access-control-subs > li.sub-item {
    background: #FF0000;
    color: #fff;
}

.cinch-access-control li.top-item.ui-selected ~ .cinch-access-control-subs > li.sub-item {
    opacity: 0.75;
}

#cinch-access-control .item-label-rename {
}

#cinch-access-control .item-position-badge {
    position: absolute;
    right: 8px;
    top: 7px;
    background-color: #005684;
    color: #fff;
    display: block;
    font-size: 9px;
    line-height: 17px;
    font-weight: 600;
    margin: 1px 0 0 2px;
    vertical-align: top;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 26;
}

#cinch-access-control .cinch-access-control.seperator .item-position-badge {
    cursor: pointer;
    right: 11px;
}

#cinch-access-control .item-position-badge span {
    display: block;
    padding: 0 6px;
}

#cinch-admin-access-control .form-table th[scope="row"] {
    display: none;
}

#cinch-admin-access-control .form-table td {
    padding: 0;
}

#cinch-access-control .cinch-column {
    width: 170px;
    float: left;
    margin-right: 10px;
}

#access-control-instructions p {
    margin-bottom: 0;
}

#access-control-clear {
    margin-bottom: 20px;
}

/* Options framework styles */
.select2-container {
    min-width: 280px;
}

.cinch-tooltip,
.cinch-tooltip:hover {
    display: block;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

.cinch-dashicon:before {
    font: 400 30px/1 dashicons !important;
    speak: none;
    color: #999;
    height: 30px;
    width: 30px;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.cinch-icon-help {
    float: left;
    margin-right: 20px;
}

.cinch-icon-help:before {
    content: "\f223";
}

.cinch-lock-button {
    display: block;
    height: 26px !important;
}

.cinch-icon-lock:before {
    content: "\f160";
    color: #dddddd;
    font-size: 26px !important;
}

#cinch-access-options .submit {
    float: right;
    margin: 0;
    padding: 0;
}

#cinch-access-options .cinch-access-control-item-handle:hover .cinch-lock-button:before {
    color: #aaa;
}

.cinch-item-lock:hover .cinch-lock-button:before {
    color: #777 !important;
}

.cinch-item-lock {
    display: inline-block;
    padding: 8px 5px 8px 0;
}

.cinch-state-locked .cinch-lock-button:before {
    color: #FF0000 !important;
}

.cinch-state-locked:hover .cinch-lock-button:before {
    color: #dddddd !important;
}

.cinch-no-labels .form-table th {
    display: none;
}

.cinch-option-instruction-box {
    font-size: 80%;
    padding: 5px 12px 8px 12px;
    background: #FBFBFB;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.cinch-options-box-wrapper {
    margin-top: 10px;
    background: #F5F5F5;
    border: 1px solid #E5E5E5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

.cinch-options-box-body {
    background: #FFF;
    border-top-color: #FFF;
    border-bottom-color: #DFDFDF;
    padding: 12px;
}

.cinch-options-box-header,
.cinch-options-box-footer {
    padding: 12px 2%;
    overflow: auto;
    width: 96%
}

.cinch-options-box-header h3 {
    float: left;
    margin: 0;
    line-height: 28px;
}

.cinch-options-box-footer span {
    display: inline-block;
    float: left;
    font-size: 90%;
    line-height: 28px;
}

.cinch-access-item .menu-item-settings,
.cinch-access-sub-item .menu-item-settings {
    display: none;
}

.cinch-access-sub-item {
    width: 100%;
}

.cinch-access-sub-item .cinch-access-control-item-handle {
    padding: 6px 12px;
    width: 364px;
    margin-right: 10px;
}

.cinch-access-sub-item .menu-item-settings {
    width: 378px;
}

.cinch-access-sub-item .menu-item-settings .description {
    width: 368px;
}

.cinch-access-item-toggle-child {
    height: 34px !important;
}

.cinch-access-item-toggle-child:before {
    line-height: 1.8 !important;
}

.cinch-access-sub-item .cinch-item-lock {
    padding: 4px 5px 4px 0;
}

.cinch-access-sub-item .item-controls .cinch-icon-lock:before {
    font-size: 21px !important;
    line-height: 28px !important;
}
